<div id="footer">
  <div class="footer-top">
    <button class="secondary-button footer-top-button">
      <a href="#pricing"><%= t('landing.buttons.get_started') %></a>
    </button>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row pl20">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <a href="#banner" class="iggrow-logo">iggrow</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li><a href="#why"><%= t('landing.footer.why') %></a></li>
            <li><a href="#how"><%= t('landing.footer.how') %></li>
            <li><a href="#pricing"><%= t('landing.footer.pricing') %></a></li>
            <li><a href="#contact"><%= t('landing.footer.contact') %></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <%= link_to "Blog", blog_path %>
            <%= link_to "Jobs", jobs_path %>
            <%= link_to "Terms and Conditions", terms_path %>
            <%= link_to "FAQ", faq_path %>

            <li><a href="/blog"><%= t('landing.footer.blog') %></a></li>
            <li><a href="/jobs"><%= t('landing.footer.jobs') %></a></li>
            <li><a href="/terms"><%= t('landing.footer.terms') %></a></li>
            <li><a href="/faq"><%= t('landing.footer.faq') %></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <ul>
            <li><%= t('landing.footer.follow_us') %></li>
            <li>
              <a href="https://www.instagram.com/iggrow_" target="_blank">
                <i class="fab fa-instagram" aria-hidden="true"></i>
                Instagram
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/iggrow_" target="_blank">
                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                Facebook
              </a>
            </li>
          </ul>
        </div> <!-- End .col-xs-12 .col-sm-12 .col-md-3 .col-lg-3 -->
      </div> <!-- End .row -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="vcenter text-center">
            <div class="made-with-love">
              &copy; 2018 IGGROW -
              Made with <%= image_tag("emoji-heart.png", class: "emoji") %>
              in Belgium <%= image_tag("emoji-flag.png", class: "emoji") %>
            </div> <!-- End made-with-love -->
          </div> <!-- End .vcenter -->
        </div>
      </div>
    </div> <!-- End .container -->
  </div> <!-- End .footer-bottom -->
</div> <!-- End #footer -->
