<%= render 'shared/navbar' %>

<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 class="pricing-title">100% Real Instagram Growth</h1>
        <p class="pricing-desc">
          Choose your growth plan and start <br>
          getting real followers on Instagram today.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card-pricing">
          <div class="card-pricing-header">
            <%= image_tag("", class: "img-header-pricing-1") %>
          </div>
          <div class="card-pricing-content">
            <div class="card-pricing-title">The Creative</div>
            <div class="card-pricing-desc">
              You're an influencer or entrepreneur whose Instagram savvy and focused on growth
            </div>
            <hr>
            <div class="card-pricing-price">
              <span class="price">$ 49</span><span>/mo</span>
              <div class="montlhy">paid monthly</div>
            </div>
            <div class="primary-button mlrauto">Get Started</div>
            <ul class="pricing-features">
              <li class="feature-element">Moderate Growth</li>
              <li class="feature-element">Smart Filters</li>
              <li class="feature-element">10 Targets</li>
              <li class="feature-element">Email Support</li>
              <li class="feature-element">Safe and Secure</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card-pricing">
          <div class="card-pricing-header">
            <%= image_tag("", class: "img-header-pricing-1") %>
          </div>
          <div class="card-pricing-content">
            <div class="card-pricing-title">The Professional</div>
            <div class="card-pricing-desc">
              Great for any brand or influencer who is serious about getting real
              followers on Instagram
            </div>
            <hr>
            <div class="card-pricing-price">
              <span class="price">$ 149</span><span>/mo</span>
              <div class="montlhy">paid monthly</div>
            </div>
            <div class="primary-button mlrauto">Get Started</div>
            <ul class="pricing-features">
              <li class="feature-element">Moderate Growth</li>
              <li class="feature-element">Smart Filters</li>
              <li class="feature-element">10 Targets</li>
              <li class="feature-element">Email Support</li>
              <li class="feature-element">Safe and Secure</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="tailored-plan">
          Social media manager or digital agency? <br>
          <a href="contact-us">Contact us about bulk pricing</a>
        </div>
      </div>
    </div>

    <%= render 'application/faq' %>

  </div>
</div>

<%= render 'shared/footer' %>
