<div id="pricing">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <div class="amount-followers">
              <p><%= t('landing.pricing.basic_amount_html') %></p>
            </div>
            <ul>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.basic_follow') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.basic_like') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.basic_support') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.basic_report') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-unchecked"></i>
                <p><%= t('landing.pricing.basic_comment') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-unchecked"></i>
                <p><%= t('landing.pricing.basic_dm') %></p>
              </li>
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title"><%= t('landing.pricing.basic_title') %></h3>
            <div class="price"><%= t('landing.pricing.basic_price') %></div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_starter_path %>
            </button>
          </div>
        </div>
        <div class="cup-coffee text-center">
          *or 1 cup of <%= image_tag("emoji-coffee.png", class: "emoji") %> a day
          <%= image_tag("emoji-smile.png", class: "emoji") %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <ul>
              <li class="pricing-spec amount-followers">
                <p><%= t('landing.pricing.standard_amount_html') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.standard_follow') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.standard_like') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.standard_support') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.standard_report') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.standard_comment') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-unchecked"></i>
                <p><%= t('landing.pricing.standard_dm') %></p>
              </li>
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title"><%= t('landing.pricing.standard_title') %></h3>
            <div class="price"><%= t('landing.pricing.standard_price') %></div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_standard_path %>
            </button>
          </div>
        </div>
        <div class="cup-coffee text-center">
          *or 2 cup of <%= image_tag("emoji-coffee.png", class: "emoji") %> a day
          <%= image_tag("emoji-smile.png", class: "emoji") %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <ul>
              <ul>
              <li class="pricing-spec amount-followers">
                <p><%= t('landing.pricing.plus_amount_html') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.plus_follow') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.plus_like') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.plus_support').html_safe %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.plus_report') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.plus_comment') %></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p><%= t('landing.pricing.plus_dm') %></p>
              </li>
            </ul>
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title"><%= t('landing.pricing.plus_title') %></h3>
            <div class="price"><%= t('landing.pricing.plus_price') %></div>
            <button class="primary-button pricing-button">
              <%= t("3-day free trial", :href => link_to(t("free_trial_mess"), getstarted_plus_path)) %>
            </button>
          </div>
        </div>
        <div class="cup-coffee text-center">
          *or 3 cup of <%= image_tag("emoji-coffee.png", class: "emoji") %> a day
          <%= image_tag("emoji-smile.png", class: "emoji") %>
        </div>
      </div>
    </div>
</div>
