<div id="why">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="section-title"><%= t('landing.why.section_title') %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tututu text-center">
          <%= t('landing.why.description_html') %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-type content-right">
          <%= image_tag("002-group.svg", class: "icon-card-type mlrauto-mobile") %>
          <h3><%= t('landing.why.influencer_title') %></h3>
          <div class="card-type-desc">
            <%= t('landing.why.influencer_desc_html') %>
          </div>
          <ul>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              <%= t('landing.why.influencer1_html') %>
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              <%= t('landing.why.influencer2_html') %>
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              <%= t('landing.why.influencer3_html') %>
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              <%= t('landing.why.influencer4_html') %>
              <span class="left hidden-xs">•</span>
            </li>
            <li>
              <span class="right hidden-sm hidden-md hidden-lg">•</span>
              <%= t('landing.why.influencer5_html') %>
              <span class="left hidden-xs">•</span>
            </li>
          </ul>
          <button class="secondary-button"> <a href="#pricing"><%= t('landing.buttons.get_started_influencer_html') %></a></button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-type content-left">
          <%= image_tag("001-employee.svg", class: "icon-card-type mlrauto-mobile") %>
          <h3>Business</h3>
          <div class="card-type-desc">
            <%= t('landing.why.business_desc_html') %>
          </div>
          <ul >
            <li><span class="right">•</span>
              <%= t('landing.why.business1_html') %>
            </li>
            <li><span class="right">•</span>
              <%= t('landing.why.business2_html') %>
            </li>
            <li><span class="right">•</span>
              <%= t('landing.why.business3_html') %>
            </li>
            <li><span class="right">•</span>
              <%= t('landing.why.business4_html') %>
            </li>
            <li><span class="right">•</span>
              <%= t('landing.why.business5_html') %>
            </li>
          </ul>
          <button class="secondary-button"> <a href="#pricing"><%= t('landing.buttons.get_started_business_html') %></a></button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
